.form-auth {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control,
.form-actions {
  width: 100%;
}

.form-control label,
.form-control input {
  display: block;
}

.form-control label {
  margin: 1rem 0;
}

.form-control input {
  margin: 1rem 0;
  width: 100%;
  padding: 0.5rem;
}

.form-actions button {
  background-color: #01d1d1;
  padding: 0.3rem 1rem;
  font-size: inherit;
  margin-right: 1.5rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  border: 1px solid #01d1d1;
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  background: #00bdbd;
  border-color: #00b8b8;
}
